<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <link href="static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 10px;
        padding-bottom: 40px;
      }
    </style>
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">

  </head>
  <body>
    <div class="container">
      {% block content %}{{ content }}{% endblock %}
    </div> <!-- /container -->

  </body>
</html>
