{% extends 'base.html' %}
{% block content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Refresh for another kitty!</h1>
	<img src ="{{kittyURL}}" align=left style="padding:25px">
        <h2>See kitties. Help kiddies.</h2><p>When you view this page, you see a cute kitty. You'll also see ads! We take the money from those ads and donate it to a classroom in need on DonorsChoose.org. Want to donate on your own? Click through to <a href="http://donorschoose.org">DonorsChoose.org</a> if you want to pick your own classroom to help out!</p>
	<p>Blah</p><br><br>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-7297158241250929";
/* test3 */
google_ad_slot = "0869302522";
google_ad_width = 234;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
        <p><a class="btn btn-primary btn-large" href="http://donorschoose.org">DonorsChoose &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Featured Classroom</h2>
	  <img float="left" src="{{imageURL}}" height=150px width=150px>
	  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Heading</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>
{% endblock %}
